# Ignorer le dossier .idea (fichiers de configuration IDE)
.idea/

# Ignorer les datasets
heart_failure_prediction.csvdata/heart_2022_with_nans.csv
data/heart_2022_clean.csv
data/heart_2022_with_nans.csv
data/heart_2022_clean.csv
